.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:black;
}

.direction {
    font-family: Arial, Helvetica, sans-serif, serif;
    font-size: x-small;
    color:black;
}

.direction:hover {
    background-color: rgb(246, 246, 208);
    color:white;
}

.CR{
    color: rgb(230, 8, 8);
}

.CH{
    color: blueviolet;
}

.HAEM{
    color:rgb(7, 233, 89);
}
